extends ../_layouts/default

block title
	title About - Application
	
block vars
	- var bodyClass = 'about';
	
block metas
	- var siteDescription = 'A few words about this about page'
	- var facebookSiteName = 'Application'
	- var facebookURL = 'http://application.io'
	- var facebookType = 'Article'
	- var facebookTitle = 'Application Title'
	- var facebookDescription = 'A few words about this about page for Facebook users'
	- var twitterCard = 'Summary'
	- var twitterTitle = 'A few words about this about page for Twitter users'
	- var twitterDescription = 'A few words about this about page for Twitter users'	

block content
	include ../_partials/about
