extends ../_layouts/default

block title
	title About - Application
	
block vars
	- var bodyClass = 'about';
	
block metas
	- var siteDescription = 'A few words on this About page'
	- var facebookTitle = 'About Us - Application Title'
	- var facebookDescription = 'A few words on this About page for Facebook users'

block content
	include ../_partials/about
