extends ../_layouts/default

block title
	title Home - Application
	
block vars
	- var bodyClass = 'home';

block metas
	- var siteDescription = 'A few words about this landing page'
	- var facebookTitle = 'Application Title'
	- var facebookDescription = 'A few words about this landing page for Facebook users'
	- var twitterTitle = 'A few words about this landing page for Twitter users'

block content
	include ../_partials/index
