// 1. Media Queries

$mobile: "only screen and (max-width: 480px)";
$phablet: "only screen and (max-width: 768px)";
$tablet: "only screen and (max-width: 992px)";
$desktop: "only screen and (max-width: 1200px)";
$mobile__up: "only screen and (min-width: 480px)";
$phablet__up: "only screen and (min-width: 768px)";
$tablet__up: "only screen and (min-width: 992px)";
$desktop__up: "only screen and (min-width: 1200px)";

// Useful mixins: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/.

// 2. REM Font Sizes.

@function calculateRem($size) {
  $remSize: $size / $font-size-base;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// 3. Variables

// Pixels.

$px_one: 1px;
$px_two: 2px;
$px_three: 3px;
$px_four: 4px;
$px_five: 5px;
$px_six: 6px;
$px_seven: 7px;
$px_eight: 8px;
$px_nine: 9px;
$px_ten: 10px;
$px_eleven: 11px;
$px_twelve: 12px;
$px_thirteen: 13px;
$px_fourteen: 14px;
$px_fifteen: 15px;

// Font-sizes.

$font-size-small: $px_twelve; //// 12px
$font-size-regular: $px_twelve+$px_four; //// 16px
$font-size-large: $px_fourteen+$px_ten; //// 24px

// Font-weights.

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 700;

// Colors.

$black: #000;
$white: #fff;
$green: #2bca7f;
$grey: #999;

// Colors init. Please declare color names with postfix -color. See more - http://thesassway.com/beginner/variable-naming

$primary-color: $grey;
$secondary-color: $grey;

// 4. Selection Color in Browser - https://css-tricks.com/almanac/selectors/s/selection/

*::-moz-selection { color: $white; background-color: $black; }
*::selection { color: $white; background-color: $black; }

// 5. Hyperlinks

@mixin linx($link, $visit, $hover, $active) {
  a {
    color: $link;
    transition: all .6s;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}
