// Declaration of Universal overrides
html, body {
  font-size: $font-size-base;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Declaration of Universal styles
body {
  font-family: "Roboto", sans-serif;
  color: $color-primary;
  line-height: 1.5;
  vertical-align: baseline;
  background-color: $white;
  text-rendering: optimizeLegibility;
}

// Declaration of Container
.container {
  @include container-fixed();
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}
