doctype html
html(lang="en")
    head        
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no")
        //- Robots : http://www.robotstxt.org/meta.html
        meta(name="robots", content="all")
        //- Meta defined by MDN : https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML
        meta(name="author", content="Tej Kahlon")
        meta(name="description", content="This section shows up in Search engines as description")
        //- Meta defined for Facebook Open Graph Data (OG)
        meta(property="og:image", content="icons/android-chrome-512x512.png")
        meta(property="og:description", content="This section shows up in Facebook website as description")
        meta(property="og:title", content="Mozilla Developer Network")
        //- Title
        block title
        //- Styles
        link(rel="stylesheet", href="css/fonts.css", media="screen")
        link(rel="stylesheet", href="css/bootstrap.min.css", media="screen")
        link(rel="stylesheet", href="css/vendor/bootstrap-select.min.css", media="screen")
        link(rel="stylesheet", href="css/style.min.css", media="screen")
        <!--[if lt IE 9]>
        script(src="js/vendor/html5shiv.min.js")        
        script(src="js/vendor/respond.min.js")
        <![endif]-->        
    block vars
    body(class=bodyClass)
        block content        
        script(src="js/vendor/jquery.min.js")
        script(src="js/vendor/bootstrap.min.js")
        script(src="js/vendor/bootstrap-select.min.js")
        script(src="js/vendor/bootstrap-fixes.js")
        script(src="js/custom.js")