include ../_includes/menus/navigation
.container
  .row
    .col-sm-12
      p Home
      small.msg
      hr
      button(type="button") Button
      hr
      video
        source(src="media/VIDEO/sample.mp4")  
      hr
      audio
        source(src="media/AUDIO/sample.mp3")  
      hr        
  p
    small Copyright &copy; All rights reserved.
